<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Matrimonial</title>
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css" />
	<script src="js/jquery-2.1.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>

</head>

<body>
	<section id="top">
		<div class="container">
			<div class="row">
				<div class="top clearfix">
					<div class="col-sm-6">
						<div class="top_left">
							<p> Welcome to matrimonial portal</p>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="top_right clearfix text-right">
							<span class="span_1"><i class="fa fa-phone-square"></i> +91 - 7219844782 </span>
							<span class="span_2"> <i class="fa fa-whatsapp"></i> +91 - 9404484028 </span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="header" class="cd-secondary-nav">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<nav class="navbar navbar-default" role="navigation">
						<!-- Brand and toggle get grouped for better mobile display -->
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse"
								data-target="#bs-example-navbar-collapse-1">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							<a class="navbar-brand" href="index.html">Matrimonial <br><span>Best Matrimony
									Website</span></a>
						</div>
						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


							<ul class="nav navbar-nav navbar-right">
							   <li><a class="color_1" href="/login">Home</a></li>

							   <li><a class="color_1" href="about.html">About Us</a></li>
							   <li><a class="color_1" href="services.html">Services</a></li>
							   <li><a class="color_1" href="/">Register</a></li>
							   <li><a class="color_1" href="contact.html">Contact Us</a></li>
							   <li><a class="color_1 active_1" href="/profile">Profile</a></li>
							   <li><a class="color_1" href="pages.html">Arrange Wedding</a></li>
							   <li class="dropdown">
								 <a class="dropdown-toggle color_1" data-toggle="dropdown" href="services.html" aria-expanded="false"><i style='font-size:24px' class='fas'>👤</i> Ashutosh
								 <span class="caret"></span></a>
								 <ul class="dropdown-menu">
								   <li><a href="/profile">About Me</a></li>
								   <li><a href="/logout">Log Out</a></li>
									   </ul>
							   </li>
							</ul>
						 </div>
						<!-- /.navbar-collapse -->
					</nav>
				</div>
			</div>
		</div>
	</section>

	<div class="about_main clearfix">
		<section id="about">
			<img src="img/39.jpg" width="100%">
		</section>
		<section id="about_top">
			<div class="container">
				<div class="row">
					<div class="col-sm-12"></div>
				</div>
			</div>
		</section>
		<section id="about_bottom">
			<div class="container">
				<div class="row">
					<div class="col-sm-12"></div>
				</div>
			</div>
		</section>
	</div>

	<section id="about_heading" class="about_register">
	  <div class="container">
	    <div class="breadcrumb1">
	      <ul>
	         <a href="index.php"></a>
	         <span class="divider">&nbsp;&nbsp;</span>
	         <div class="about_heading">
	           <h5><a href="/profile">Home</a> <span>//</span>Profile<span>//</span>View profile</h5>
	         </div>
	      </ul>
	    </div>
	  </div>
	</section>

	<section >
	<div class="navigation" style="background-color: #ccc;"><!-- Innernavigation starts -->

							 <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
									<ul class="nav navbar-nav nav_1">
											<li><a href="/profile"><b>View Profile</b></a></li>
											<li><a href="a4.html"><b>Partner Profiles</b></a></li>
											<li class="dropdown">
												<a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Profile</b><span class="caret"></span></a>
												<ul class="dropdown-menu" role="menu">
												 <li><a href="upload photo.html">Upload Photos</a></li>
												 <li><a href="a4.html">Edit Profile</a></li>
												</ul>
											</li>
											<li class="dropdown">
												<a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Search</b><span class="caret"></span></a>
												<ul class="dropdown-menu" role="menu">
													<li><a href=""><h5></h5>Regular Search</a></li>
													<li><a href=""><h5></h5>Faq</a></li>
												</ul>
											</li>
									</ul>
					</div>
		 </div>
		</section>

	<section id="photo_gallery">

	  <div class="container">

	   <div class="row">
	    <div class="col-sm-12">
	     <div class="photo_gallery">
	      <div class="services_home clearfix">
	       <h1 class="text-center"><span>View</span>  Profile</h1>
	       <h2 class="text-center"><i class="fa fa-arrows-h"></i></h2>
	     </div>
	      <div id="Carousel" class="carousel slide">
	          <div class="services_home clearfix">
	              <h1 class="text-left"><span>MEN</span>  Gallery</h1>
	            </div>
	                 <ol class="carousel-indicators">
	                     <li data-target="#Carousel" data-slide-to="0" class="active"></li>
	                     <li data-target="#Carousel" data-slide-to="1"></li>
	                     <li data-target="#Carousel" data-slide-to="2" class=""></li>
	                 </ol>

	                 <!-- Carousel items -->
	                 <div class="carousel-inner">

	                 <div class="item active">
	                     <div class="row">
	                       <div class="col-sm-3"><a href="profilr info105.html" class="thumbnail"><img src="img/105.jpeg" alt="Image" style="max-width:100%;"></a></div>
	                       <div class="col-sm-3"><a href="profilr info106.html" class="thumbnail"><img src="img/106.jpg" alt="Image" style="max-width:100%;"></a></div>
	                       <div class="col-sm-3"><a href="profilr info107.html" class="thumbnail"><img src="img/107.jpg" alt="Image" style="max-width:100%;"></a></div>
	                       <div class="col-sm-3"><a href="profilr info108.html" class="thumbnail"><img src="img/108.jpg" alt="Image" style="max-width:100%;"></a></div>
	                     </div><!--.row-->
	                 </div><!--.item-->

	                 <div class="item">
	                     <div class="row">
	                         <div class="col-sm-3"><a href="#" class="thumbnail"><img src="img/101.jpg" alt="Image" style="max-width:100%;"></a></div>
	                         <div class="col-sm-3"><a href="#" class="thumbnail"><img src="img/102.jpg" alt="Image" style="max-width:100%;"></a></div>
	                         <div class="col-sm-3"><a href="#" class="thumbnail"><img src="img/103.jpg" alt="Image" style="max-width:100%;"></a></div>
	                         <div class="col-sm-3"><a href="#" class="thumbnail"><img src="img/104.jpeg" alt="Image" style="max-width:100%;"></a></div>
	                     </div><!--.row-->
	                 </div><!--.item-->

	                 <div class="item">
	                     <div class="row">
	                         <div class="col-sm-3"><a href="#" class="thumbnail"><img src="img/109.jpg" alt="Image" style="max-width:100%;"></a></div>
	                         <div class="col-sm-3"><a href="#" class="thumbnail"><img src="img/110.jpg" alt="Image" style="max-width:100%;"></a></div>
	                         <div class="col-sm-3"><a href="#" class="thumbnail"><img src="img/111.jpg" alt="Image" style="max-width:100%;"></a></div>
	                         <div class="col-sm-3"><a href="#" class="thumbnail"><img src="img/112.jpg" alt="Image" style="max-width:100%;"></a></div>
	                     </div><!--.row-->
	                 </div><!--.item-->

	                 </div><!--.carousel-inner-->
	                   <a data-slide="prev" href="#Carousel" class="left carousel-control">‹</a>
	                   <a data-slide="next" href="#Carousel" class="right carousel-control">›</a>
	                 </div>

	                 <div id="Carousel" class="carousel slide">
	                  <div class="services_home clearfix">
	                      <h1 class="text-left"><span>WOMEN</span>  Gallery ☕ </h1>
	                    </div>
	                         <ol class="carousel-indicators">
	                             <li data-target="#Carousel" data-slide-to="0" class="active"></li>
	                             <li data-target="#Carousel" data-slide-to="1"></li>
	                             <li data-target="#Carousel" data-slide-to="2" class=""></li>
	                         </ol>

	                         <!-- Carousel items -->
	                         <div class="carousel-inner">

	                         <div class="item active">
	                             <div class="row">
	                               <div class="col-sm-3"><a href="profilr info 201.html" class="thumbnail"><img src="img/201.jpg" alt="Image" style="max-width:100%;"></a></div>
	                               <div class="col-sm-3"><a href="profilr info 202.html" class="thumbnail"><img src="img/202.jpg" alt="Image" style="max-width:100%;"></a></div>
	                               <div class="col-sm-3"><a href="profilr info 203.html" class="thumbnail"><img src="img/203.jpeg" alt="Image" style="max-width:100%;"></a></div>
	                               <div class="col-sm-3"><a href="profilr info 204.html" class="thumbnail"><img src="img/204.jpg" alt="Image" style="max-width:100%;"></a></div>
	                             </div><!--.row-->
	                         </div><!--.item-->

	                         <div class="item">
	                             <div class="row">
	                                 <div class="col-sm-3"><a href="#" class="thumbnail"><img src="img/205.jpeg" alt="Image" style="max-width:100%;"></a></div>
	                                 <div class="col-sm-3"><a href="#" class="thumbnail"><img src="img/206.jpg" alt="Image" style="max-width:100%;"></a></div>
	                                 <div class="col-sm-3"><a href="#" class="thumbnail"><img src="img/207.jpg" alt="Image" style="max-width:100%;"></a></div>
	                                 <div class="col-sm-3"><a href="#" class="thumbnail"><img src="img/208.jpeg" alt="Image" style="max-width:100%;"></a></div>
	                             </div><!--.row-->
	                         </div><!--.item-->

	                         <div class="item">
	                             <div class="row">
	                                 <div class="col-sm-3"><a href="#" class="thumbnail"><img src="img/209.jpg" alt="Image" style="max-width:100%;"></a></div>
	                                 <div class="col-sm-3"><a href="#" class="thumbnail"><img src="img/210.jpg" alt="Image" style="max-width:100%;"></a></div>
	                                 <div class="col-sm-3"><a href="#" class="thumbnail"><img src="img/211.jpg" alt="Image" style="max-width:100%;"></a></div>
	                                 <div class="col-sm-3"><a href="#" class="thumbnail"><img src="img/212.jpg" alt="Image" style="max-width:100%;"></a></div>
	                             </div><!--.row-->
	                         </div><!--.item-->

	                         </div><!--.carousel-inner-->
	                           <a data-slide="prev" href="#Carousel" class="left carousel-control">‹</a>
	                           <a data-slide="next" href="#Carousel" class="right carousel-control">›</a>
	                         </div>
	     </div>
	    </div>
	   </div>
	  </div>
	 </section>

	 <section>


	  <br><br><br><br><br><br><br><br><br><br>
	 </section>

	<div class="footer_main clearfix">
		<section id="footer">
			<div class="container">
				<div class="row">
					<div class="footer clearfix">
						<div class="col-sm-3">
							<div class="footer_left">
								<img src="img/32.jpg">
							</div>
						</div>
						<div class="col-sm-6">
							<div class="footer_right">
								<p>
									<a href="#">Home</a>
									<a href="#">About Us</a>
									<a href="#">Services</a>
									<a href="#">Register</a>
									<a href="#">Contact Us</a>
								</p>
								<div class="footer_right_inner clearfix">
									<ul class="social-network social-circle">
										<li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
										<li><a href="#" class="icoFacebook" title="Facebook"><i
													class="fa fa-facebook"></i></a></li>
										<li><a href="#" class="icoTwitter" title="Twitter"><i
													class="fa fa-twitter"></i></a></li>
										<li><a href="#" class="icoGoogle" title="Google +"><i
													class="fa fa-google-plus"></i></a></li>
										<li><a href="#" class="icoLinkedin" title="Linkedin"><i
													class="fa fa-linkedin"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="footer_left">
								<img src="img/52.jpg">
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section id="footer_bottom">
			<div class="container">
			 <div class="row">
			  <div class="footer_bottom clearfix">
			   <div class="col-sm-7">
				<div class="footer_bottom_left">
				  <p> © 2022 matrimonial.com All Rights Reserved | Design by <a href="https://mitaoe.ac.in/BTECH/">WEB BATCH 5 </a></p>
				</div>
			   </div>
			   <div class="col-sm-5">
				 <div class="footer_bottom_right text-right">
				   <p><a href="#">Powered By <span> </a href= "https://mitaoe.ac.in/school-of-computer-engineering-and-technology-vinodini-gupta.php">MITAOE PUNE</span></a> </p>
				 </div>
			   </div>
			  </div>
			 </div>
			</div>
		   </section>

	</div>

	<div id="toTop" class="btn btn-info" style="display: block;"><span class="glyphicon glyphicon-chevron-up"></span>
		Top</div>

	<script>
		$(document).ready(function () {
			$('body').append('<div id="toTop" class="btn btn-info"><span class="glyphicon glyphicon-chevron-up"></span> Back to Top</div>');
			$(window).scroll(function () {
				if ($(this).scrollTop() != 0) {
					$('#toTop').fadeIn();
				} else {
					$('#toTop').fadeOut();
				}
			});
			$('#toTop').click(function () {
				$("html, body").animate({ scrollTop: 0 }, 600);
				return false;
			});
		});

	</script>

	<script>
		$(document).ready(function () {
			$(".dropdown").hover(
				function () {
					$('.dropdown-menu', this).not('.in .dropdown-menu').stop(true, true).slideDown(0);
					$(this).toggleClass('open');
				},
				function () {
					$('.dropdown-menu', this).not('.in .dropdown-menu').stop(true, true).slideUp(0);
					$(this).toggleClass('open');
				}
			);

			/*****Fixed Menu******/
			var secondaryNav = $('.cd-secondary-nav'),
				secondaryNavTopPosition = secondaryNav.offset().top;
			$(window).on('scroll', function () {
				if ($(window).scrollTop() > secondaryNavTopPosition) {
					secondaryNav.addClass('is-fixed');
				} else {
					secondaryNav.removeClass('is-fixed');
				}
			});

		});
	</script>

</body>

</html>
