<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Matrimonial</title>
     <link href="css/bootstrap.min.css" rel="stylesheet">
     <link href="css/style.css" rel="stylesheet">
	 <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css" />
    <script src="js/jquery-2.1.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>

  </head>

<body>
<section id="top">
 <div class="container">
  <div class="row">
   <div class="top clearfix">
    <div class="col-sm-6">
	 <div class="top_left">
		<p> Welcome to matrimonial portal</p>
	</div>
   </div>
   <div class="col-sm-6">
	 <div class="top_right clearfix text-right">
		 <span class="span_1"><i class="fa fa-phone-square"></i>  +91 - 7219844782  </span>
		 <span class="span_2"> <i class="fa fa-whatsapp"></i>  +91 - 9404484028 </span>
	  </div>
	</div>
   </div>
  </div>
 </div>
</section>

<section id="header" class="cd-secondary-nav">
 <div class="container">
  <div class="row">
   <div class="col-sm-12">
     <nav class="navbar navbar-default" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
               <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               </button>
               <a class="navbar-brand" href="index.html">Matrimonial <br><span>Best Matrimony Website</span></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


               <ul class="nav navbar-nav navbar-right">
                  <li><a class="color_1" href="/login">Home</a></li>
				  <li><a class="color_1" href="about.html">About Us</a></li>
				  <li><a class="color_1" href="services.html">Services</a></li>
				  <li><a class="color_1" href="/">Register</a></li>
				  <li><a class="color_1" href="contact.html">Contact Us</a></li>
				  <li><a class="color_1" href="/profile">Profile</a></li>
				  <li><a class="color_1  active_1" href="pages.html">Plan Your Wedding</a></li>
				  <li class="dropdown">
					<a class="dropdown-toggle color_1" data-toggle="dropdown" href="services.html" aria-expanded="false"><i style='font-size:24px' class='fas'>👤</i> Ashutosh
					<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="/profile">About Me</a></li>
						<li><a href="/logout">Log Out</a></li>
						  </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>
   </div>
  </div>
 </div>
</section>

<div class="about_main clearfix">
	<section id="about">
	<img src="img/47.png" width="100%">
	</section>
	<section id="about_top">
	<div class="container">
	<div class="row">
	<div class="col-sm-12"></div>
	</div>
	</div>
	</section>
	<section id="about_bottom">
	<div class="container">
	<div class="row">
	<div class="col-sm-12"></div>
	</div>
	</div>
	</section>
</div>

<section id="about_heading" class="about_register">
 <div class="container">
  <div class="row">
   <div class="col-sm-12">
    <div class="about_heading">
	  <h5><a href="index.html">Home</a> <span>//</span>Plan Your Wedding</h5>
	</div>
   </div>
  </div>
 </div>
</section>

<div class="center">
	<ul class="nav nav-pills">
		<li class="active"><a href="#Consulting">Consulting</a></li>
		<li><a href="#Decoration">Decoration</a></li>
		<li><a href="#Packages">Packages</a></li>
	</ul>
</div>

<section id="pages">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="pages">
					<div class="container" role="main">

						<div>
							<div class="arrange">
								<a id="Consulting" class="page-header"><h1 class="text-center"><span>Consulting</span></h1></a>
								<h2 class="text-center"><i class="fa fa-arrows-h"></i></h2>
							</div>
							<h1 class="text-center">Consult Our Experts</h1>
							<h3 class="text-center">Forget all your wedding stress. Our wedding expert will help you in all aspects of wedding planning process, start planning your dream wedding</h3>
							<div class="row border">
								<div class="col-md-4">
									<img src="img/300.png" width="331px">
								</div>
								<div class="col-md-4">
									<br><h2>Virtual Meet</h2><br>
									<p>- Consultation involves in-depth assessment on your end-end wedding planning including venue, decorations, catering, entertainment, priest, travel, accommodation etc<br><br>- Based on your inputs, our expert will provide you with a personalised plan that fits your wedding style, budget and vision.</p></div>
								<div class="col-md-4 center1 bgblack">
									<h2 class="center1 textwhite">₹ 750</h2>
								</div>
							</div>
							<br>
							<div class="row border">
								<div class="col-md-4">
									<img src="img/301.png" width="331px">
								</div>
								<div class="col-md-4">
									<br><h2>Home Visit</h2><br>
									<p>- Home visit involves understanding your preferences like venue, decorations, catering, entertainment, priest, travel, accommodation etc<br><br>- Based on your inputs, our wedding planner will help you to get an instant quotation that fits your budget.</p></div>
								<div class="col-md-4 center1 bgblack">
									<h2 class="center1 textwhite">₹ 1000</h2>
								</div>
							</div>
							<br>

							<div class="container">
								<div class="center3">
									<button type="button" class="btn btn-success ">Consult Now</button>
								</div>
							</div><hr>
							<br>

						</div>

						<div>
							<div class="arrange">
								<a id="Decoration" class="page-header"><h1 class="text-center"><span>Decoration</span></h1></a>
								<h2 class="text-center"><i class="fa fa-arrows-h"></i></h2>

							</div>
							<h1 class="text-center">Our Decoration Collection</h1>
							<h3 class="text-center">Select wide range of Mantap decorations, Receptions, Sangeeth, Haldi to many more wedding essentials online</h3>

							<div class="gallery">
								<a target="_blank" href="img/102.jpeg">
								  <img src="img/302.jpeg" width="600" height="400">
								</a>
								<div class="desc">Traditional Decoration</div>
							  </div>

							  <div class="gallery">
								<a target="_blank" href="img/103.jpeg">
								  <img src="img/303.jpeg" width="600" height="400">
								</a>
								<div class="desc">Modern Decoration</div>
							  </div>

							  <div class="gallery">
								<a target="_blank" href="img/104.jpeg">
								  <img src="img/304.jpeg" width="600" height="400">
								</a>
								<div class="desc">Fancy Decoration</div>
							  </div>

							  <div class="gallery">
								<a target="_blank" href="img/105.jpeg">
								  <img src="img/305.jpeg" width="600" height="400">
								</a>
								<div class="desc">Photo Album Facility</div>
							  </div>
							</div>
						</div>
						<br>
						<div class="container">
							<div class="center3">
								<button type="button" class="btn btn-success ">View More Photos</button>
							</div>
						</div><hr>

						<br>
						<div class="arrange">
							<a id="Packages" class="page-header"><h1 class="text-center"><span>Packages</span></h1></a>
	  						<h2 class="text-center"><i class="fa fa-arrows-h"></i></h2>
						</div>
						<h1 class="text-center">Wedding Packages</h1>
						<h3 class="text-center">We offer wide range of packages which fits all pockets. If you are planning for intimate wedding then this is the package you should look for</h3>

						<div class="row">
							<div class="container1 column">
								<img class="image" src="img/306.jpg" alt="Snow" style="width:100%;">
								<div class="text-block">
									<h4><b>Silver Package</b></h4><hr>
									<p>This package includes Decorations,<br> Catering, Welcome Board,<br> Photobooth, Photo / Videography</p>
								</div>
							</div>
							<div class="container1 column">
								<img class="image" src="img/307.jpg" alt="Snow" style="width:100%;">
								<div class="text-block">
									<h4><b>Gold Package</b></h4><hr>
									<p>This package includes Venue,<br> Decorations, Catering, Photography,<br> Videography</p>
								</div>
							</div>
							<div class="container1 column">
								<img class="image" src="img/308.jpg" alt="Snow" style="width:100%;">
								<div class="text-block">
									<h4><b>Diamond Package</b></h4><hr>
									<p>This package includes Decoration,<br> Catering, Welcome Board, Photo Booth,<br> Photographer & Videographer</p>
								</div>
							</div>
						</div>
						<br>
						<div class="container">
							<div class="center3">
								<button type="button" class="btn btn-success ">View More Packages</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</section>

	<div class="footer_main clearfix">
		<section id="footer">
		<div class="container">
		 <div class="row">
		  <div class="footer clearfix">
		   <div class="col-sm-3">
			<div class="footer_left">
			   <img src="img/32.jpg">
		   </div>
		  </div>
		  <div class="col-sm-6">
			<div class="footer_right">
			  <p>
			  <a href="#">Home</a>
			  <a href="#">About Us</a>
			  <a href="#">Services</a>
			  <a href="#">Register</a>
			  <a href="#">Contact Us</a>
			  </p>
			  <div class="footer_right_inner clearfix">
						  <ul class="social-network social-circle">
							  <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
							  <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
							  <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
							  <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
							  <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
						  </ul>
					  </div>
			</div>
		  </div>
		  <div class="col-sm-3">
		   <div class="footer_left">
			<img src="img/52.jpg">
			</div>
		   </div>
		  </div>
		 </div>
		</div>
	   </section>

	   <section id="footer_bottom">
		<div class="container">
		 <div class="row">
		  <div class="footer_bottom clearfix">
		   <div class="col-sm-7">
			<div class="footer_bottom_left">
			  <p> © 2022 matrimonial.com All Rights Reserved | Design by <a href="https://mitaoe.ac.in/BTECH/">WEB BATCH 5 </a></p>
			</div>
		   </div>
		   <div class="col-sm-5">
			 <div class="footer_bottom_right text-right">
			   <p><a href="#">Powered By <span> </a href= "https://mitaoe.ac.in/school-of-computer-engineering-and-technology-vinodini-gupta.php">MITAOE PUNE</span></a> </p>
			 </div>
		   </div>
		  </div>
		 </div>
		</div>
	   </section>

</div>

<div id="toTop" class="btn btn-info" style="display: block;"><span class="glyphicon glyphicon-chevron-up"></span>  Top</div>

<script>
$(document).ready(function(){
  $('body').append('<div id="toTop" class="btn btn-info"><span class="glyphicon glyphicon-chevron-up"></span> Back to Top</div>');
	$(window).scroll(function () {
		if ($(this).scrollTop() != 0) {
			$('#toTop').fadeIn();
		} else {
			$('#toTop').fadeOut();
		}
	});
$('#toTop').click(function(){
	$("html, body").animate({ scrollTop: 0 }, 600);
	return false;
});
});

</script>

<script>
$(document).ready(function(){
    $(".dropdown").hover(
        function() {
            $('.dropdown-menu', this).not('.in .dropdown-menu').stop(true,true).slideDown(0);
            $(this).toggleClass('open');
        },
        function() {
            $('.dropdown-menu', this).not('.in .dropdown-menu').stop(true,true).slideUp(0);
            $(this).toggleClass('open');
        }
    );

	/*****Fixed Menu******/
	var secondaryNav = $('.cd-secondary-nav'),
	   secondaryNavTopPosition = secondaryNav.offset().top;
		$(window).on('scroll', function(){
			if($(window).scrollTop() > secondaryNavTopPosition ) {
				secondaryNav.addClass('is-fixed');
			} else {
				secondaryNav.removeClass('is-fixed');
			}
		});

});
	</script>

</body>

</html>
